<h1>Page du Classement !</h1>

<p>Test Angutglar : {{test}}</p>

<div>
	<div class="accordion col-lg-6 offset-lg-3" id="groupAccordion">
			<div class="card-header text-center" id="headingOne">
				<h2 class="mb-0">
					Classement des pronostiqueur
				</h2>
			</div>
			<div id="{{'group' + group }}" class="collapse show" aria-labelledby="{{'group' + group }}" data-parent="#groupAccordion">
				<div class="card-body">
					<table class="largeTable">
						<tr style="text-align:center">
							<th></th>
							<th>Pronostiqueur</th>
							<th>Pts</th>
						</tr>
						<tr style="text-align:center">
							<th>1er</th>
							<th>Ronaldinho</th>
							<th>312</th>
						</tr>
						<tr style="text-align:center">
							<th>2e</th>
							<th>Zizou</th>
							<th>23</th>
						</tr>
					</table>
				</div>
			</div>
		</div>
</div>