<div>
	<div class="accordion col-lg-8 offset-lg-2" id="groupAccordion">
		<div class="card" ng-repeat="(group, list) in groups">
			<div class="card-header text-center" id="headingOne">
				<h2 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{'#group' + group }}" aria-expanded="true" aria-controls="{{'#group' + group }}">
						Groupe {{group}}
					</button>
				</h2>
			</div>
			<div id="{{'group' + group }}" class="collapse show" aria-labelledby="{{'group' + group }}" data-parent="#groupAccordion">
				<div class="card-body">
					<table class="table largeTable">
						<tr style="text-align:center">
							<th>Equipes</th>
							<th>J</th>
							<th>G</th>
							<th>N</th>
							<th>P</th>
							<th>+</th>
							<th>-</th>
							<th>Pts</th>
						</tr>
						<tr style="text-align:center;" data-ng-repeat="team in list | orderBy: 'point' : 'asc'">
<!-- 							<td>{{team.name}}</td> -->
							<td class="cell-center"><img src="img/flags/{{team.name}}.png" title="{{team.name}}"></td>
							<td class="cell-center">{{team.nbGame}}</td>
							<td class="cell-center">{{team.nbWin}}</td>
							<td class="cell-center">{{team.nbDraw}}</td>
							<td class="cell-center">{{team.nbLose}}</td>
							<td class="cell-center">{{team.goalScored}}</td>
							<td class="cell-center">{{team.goalTaken}}</td>
							<td class="cell-center">{{team.point}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>