<div>
	<div class="accordion col-lg-8 offset-lg-2" id="groupAccordion">
		<div class="card" ng-repeat="(group, list) in groups">
			<div class="card-header text-center" id="headingOne">
				<h2 class="mb-0">
					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{'#group' + group }}" aria-expanded="true" aria-controls="{{'#group' + group }}">
						Groupe {{group}}
					</button>
				</h2>
			</div>
			<div id="{{'group' + group }}" class="collapse show" aria-labelledby="{{'group' + group }}" data-parent="#groupAccordion">
				<div class="card-body">
					<table class="largeTable">
						<tr style="text-align:center">
							<th></th>
							<th>J</th>
							<th>G</th>
							<th>N</th>
							<th>P</th>
							<th>+</th>
							<th>-</th>
							<th>Pts</th>
						</tr>
						<tr style="text-align:center">
							<th><img src="img/flags/Australie.png" ></th>
							<th>2</th>
							<th>1</th>
							<th>1</th>
							<th>0</th>
							<th>3</th>
							<th>1</th>
							<th>4</th>
						</tr >
						<tr style="text-align:center">
							<th><img src="img/flags/France.png" ></th>
							<th>2</th>
							<th>1</th>
							<th>1</th>
							<th>0</th>
							<th>3</th>
							<th>1</th>
							<th>4</th>
						</tr >
						<tr style="text-align:center" ng-repeat="team in list">
							<td>{{team.name}}</td>
							<td>{{team.nbGame}}</td>
							<td>{{team.nbWin}}</td>
							<td>{{team.nbDraw}}</td>
							<td>{{team.nbLose}}</td>
							<td>{{team.goalScored}}</td>
							<td>{{team.goalTaken}}</td>
							<td>{{team.point}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>