<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Login</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="../../lib/bootstrap-4.1.1/js/bootstrap.min.js"></script>
	<script src="../../lib/angularjs-1.6.10/angular.min.js"></script>
	<link rel="stylesheet" href="../../lib/bootstrap-4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/main.css">
	<script src="../../directives/toolbar/toolbar.js"></script>
</head>
<body>
	<div class="skip-navbar"></div>
	<pronostic:toolbar></pronostic:toolbar>
		<h1>Login</h1>
</body>
</html>