<h1 class="col-lg-6 offset-4">Calendrier des matches</h1>

<div class="accordion col-lg-6 offset-lg-3" id="calendarAccordion" ng-repeat="(day, games) in calendar">
	<div class="card-header text-center" id="headingOne">
		<h2 class="mb-0">
			<button class="btn btn-link" type="button" data-toggle="collapse" data-target="{{'#calendar_' + day }}" aria-expanded="true" aria-controls="{{'#calendar_' + day }}">
				{{day | date : 'd MMM yyyy'}}
			</button>
		</h2>
	</div>
	<div id="{{'calendar_' + day }}" class="collapse show" aria-labelledby="{{'calendar_' + day }}" data-parent="#calendarAccordion">
		<div class="card-body">
			<table class="largeTable" ng-repeat="game in games">
				<tr>
					<td colspan="5" style="text-align:center"><strong>Groupe {{game.team1.group}}</strong></td>
				</tr>
				<tr style="text-align:center">
					<td><img src="img/flags/{{game.team1.name}}.png" title="{{game.team1.name}}"></td>
					<td><strong style="font-size: 20px">{{game.goalTeam1 !== -1 ? game.goalTeam1 : 'N/A'}}</strong></td>
					<td>{{game.date | date: 'HH:mm'}}</td>
					<td><strong style="font-size: 20px">{{game.goalTeam2 !== -1 ? game.goalTeam2 : 'N/A'}}</strong></td>
					<td><img src="img/flags/{{game.team2.name}}.png" title="{{game.team2.name}}"></td>
				</tr>
			</table>
		</div>
	</div>
</div>
	
	
