.skip-navbar {
	height: 30px;
}

.colorNav {
	height: 60px;
	background-color: #990000 !important;
}

.canvas {
	border:1px solid #d3d3d3;
	width: 1080;
	height: 720;
}

.flag {
	display: none;
}

.title {
	color: #990000;
}
.broadway {
	font-family: Broadway;
}

.bauhaus-93 {
	font-family: "Bauhaus 93";
}

.logo-header {
    max-height: 95px; /* 195.5 */
    max-width: 88px; /* 177 */
    margin: 5px
}
