<h1 class="col-lg-6 offset-4">Page d'administration</h1>
<br>
<div class="column">
	<div class="row col-lg-3 offset-lg-5">
		<button class="btn btn-outline-danger" data-ng-click="updatePoints()">Mettre a jour les scores des equipes</button>
	</div>
	<br>
	<div class="column col-lg-6 offset-lg-3" style="padding: 5px;">
<!-- 		LIST OF GAME NO SCORED -->
		<table class="table table-borderless" data-ng-repeat="game in gameToDo | orderBy: 'date'" ng-if="!isAfterNow(game.date)">
			<tr>
				<td>
					<img src="img/flags/{{game.team1.name}}.png" title="{{game.team1.name}}">
				</td>
				<td>
					<input class="form-control" type="number" data-ng-model="game.goalTeam1">
				</td>
				<td><strong>{{game.date | date: format: 'dd/MM/yyyy HH:mm:SS'}}</strong></td>
				<td>
					<input class="form-control" type="number" data-ng-model="game.goalTeam2">
				</td>
				<td><img src="img/flags/{{game.team2.name}}.png" title="{{game.team2.name}}"></td>
			</tr>
			<tr style="text-align:center">
				<td colspan="5"><button name="Submit" data-ng-click="validateScore(game)">Validacion</button></td>
			</tr>
		</table>
	</div>
</div>


	
	
